
<form action="/Step/sort" method="get">
    <label for="ID">
        <strong>Select your Step #:</strong><input type="number" id="ID" name="ID" min="1" max="100" required />
    </label>
    <button type="submit">Find it!</button>
</form>
@model Scrumptious.MvcClient.Models.StepViewModel
<form asp-action="post" asp-controller="step" method="post">
    <label for="ID">
        <strong>Make a new step for a task!</strong>
        <strong>Give me the step name: </strong>@Html.TextBoxFor(m => m.Name, new { @required = "required", @class = "form-control" })
        <strong>What is it about?</strong>@Html.TextBoxFor(m => m.StepDescription, new { @required = "required", @class = "form-control" })
        <strong>What Task (by its ID) does this step belong to?</strong>@Html.TextBoxFor(m => m.FkTaskId, new { @required = "required", @class = "form-control", @input = "number" })
    </label>
    <button type="submit">Make it!</button>
</form>
<h2 style="width: 100%; text-align:center">The step you query for displays below!</h2>
@if (ViewBag.userQuery == true)
{
    <section style="width:100%; text-align:center; padding-top: 20px">
        <div>@ViewBag.content.StepId</div>
        <div>Name: @ViewBag.content.Name</div>
        <div>Description: @ViewBag.content.StepDescription</div>
        <div>Was it completed?: @ViewBag.content.Completed</div>
    </section>
}